<div>
    {{#each products}}
    <p>Title: {{this.title}}</p>
    <p>Description: {{this.description}}</p>
    <p>Price: {{this.code}}</p>
    <p>Thumbnail: {{this.code}}</p>
    <p>Code: {{this.code}}</p>
    <p>Stock: {{this.code}}</p>
    <p>Status: {{this.code}}</p>
    <p>Category: {{this.code}}</p>
    <p>ID: {{this.code}}</p>
    {{/each}}
</div>